.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: whitesmoke;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;

}

.burgerMenuIcon {
    margin: 10px;

}

.headerUserAme {
margin-left: 10px;
    color: gray;
}

.header h1 {
}